.order-success-page{
    min-height:100vh;
    background:#f8f8f8;
    display:flex;
    align-items:center;
}

.success-card{
    max-width:650px;
    margin:auto;
    background:#fff;
    padding:50px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.success-icon{
    font-size:80px;
    color:#22c55e;
    margin-bottom:20px;
}

.success-card h1{
    margin-bottom:15px;
}

.success-card p{
    color:#666;
}

.order-info{
    margin:30px 0;
    padding:20px;
    background:#f5f5f5;
    border-radius:10px;
}

.success-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.home-btn,
.track-btn{
    padding:14px 25px;
    border:none;
    border-radius:10px;
    text-decoration:none;
    font-size:16px;
}

.home-btn{
    background:#E23744;
    color:#fff;
}

.track-btn{
    background:#ddd;
    cursor:not-allowed;
}

@media(max-width:768px){

.success-card{
    padding:30px 20px;
}

.success-buttons{
    flex-direction:column;
}

}