.restaurants{
    padding:80px 0;
    background:#ffffff;
}

.restaurants h2{
    text-align:center;
    font-size:40px;
    margin-bottom:10px;
}

.section-subtitle{
    text-align:center;
    color:#666;
    margin-bottom:40px;
}

.empty-restaurant{
    max-width:700px;
    margin:auto;
    padding:60px 30px;
    text-align:center;
    border:2px dashed #ddd;
    border-radius:20px;
    background:#fafafa;
}

.empty-restaurant h3{
    color:#E23744;
    font-size:28px;
    margin-bottom:15px;
}

.empty-restaurant p{
    color:#666;
}