.app-download {
  padding: 100px 0;
  background: linear-gradient(135deg, #e23744, #ff6b6b);
  color: #fff;
  overflow: hidden;
}

.app-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.app-content {
  flex: 1;
}

.app-content h2 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.app-content p {
  font-size: 20px;
  color: #f7f7f7;
  line-height: 1.8;
  margin-bottom: 35px;
  max-width: 550px;
}

.app-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.app-buttons button {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 16px 30px;
  background: #fff;
  color: #222;
  border: none;
  border-radius: 14px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.app-buttons button:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, .25);
}

.mobile-preview {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mobile-preview{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.mobile-preview img{
    width:550px;
    max-width:100%;
}

@keyframes float {
  0%,100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-18px);
  }
}

@media (max-width: 992px) {

  .app-container{
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
  }

  .app-content p{
    margin: auto auto 35px;
  }

  .app-buttons{
    justify-content: center;
  }

  .mobile-preview img{
    width: 260px;
  }

  .app-content h2{
    font-size: 38px;
  }

}

@media (max-width:768px){

    .mobile-preview img{
        width:280px;
    }

}