.scroll-top{
    position:fixed;
    right:25px;
    bottom:25px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#E23744;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
    transition:.3s;
    z-index:999;
}

.scroll-top:hover{
    transform:translateY(-5px);
    background:#c81f32;
}